<div class="row">
    <hr>
    <div ng-init="menu=true;" class="col-md-2 btn-group-vertical">
        <h3 style="color: #DA4405;"><b> &nbsp Getting started</b></h3>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#introduction">Introduction</a>
        <div id="introduction" class="collapse in" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - General Description</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Integration Options</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Onboarding process</a><br>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#datamodel">Data model</a>
        <div id="datamodel" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - What is a payment instrument?</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - What is an order?</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - What is a transaction?</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - What is a customer?</a><br>
            <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#datatypes"> &nbsp - Data types</a>
            <div id="datatypes" class="collapse" >
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  &nbsp - Amounts</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp &nbsp - Dates</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Currencies</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Countries</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Encoding</a><br>
            </div>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#processflows">Process flows</a>
        <div id="processflows" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Pre-auth & capture vs. debit</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Recurring payments</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Syncrounus vs. asyncrounus</a><br>
        </div>
        <hr>
        <h3 style="color: #DA4405;"><b> &nbsp Checkout Solutions</b></h3>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Introduction</a>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#widget">Widget</a>
        <div id="widget" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Shop plugins</a>
        <hr>
        <h3 style="color: #DA4405;"><b> &nbsp API Reference</b></h3>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Introduction</a>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Endpoints</a>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Authentication</a>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#managetokanization">Manage tokanization</a>
        <div id="managetokanization" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#manageorders">Manage orders</a>
        <div id="manageorders" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/preauth" > &nbsp  - Preauth</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Debit</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Credit</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Cancel</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Capture</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Refund</a><br>
            <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#maintanancemethods"> &nbsp - Maintenance methods</a>
            <div id="maintanancemethods" class="collapse" >
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  &nbsp - Amounts</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp &nbsp - Dates</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Currencies</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Countries</a><br>
                <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp &nbsp  - Encoding</a><br>
            </div>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#managecustomers">Manage customers</a>
        <div id="managecustomers" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#manageinstallments">Manage installments</a>
        <div id="manageinstallments" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#managesettlements">Manage settlements</a>
        <div id="managesettlements" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/health" > Healthcheck</a>
        <a type="button" ng-show="menu" data-toggle="collapse" class="btn btn-light text-left myPanel" data-target="#errorhandling">Error Handling</a>
        <div id="errorhandling" class="collapse" >
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > &nbsp  - Inline widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/dashboard" > &nbsp - Modal widget</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Widget as a bridge</a><br>
            <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/createtransaction" > &nbsp  - Testing</a><br>
        </div>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/integration/generaldescription" > Testing</a>
    </div>
    <div class="col-md-10">
        <div ng-show="cur=='generaldescription'">
            <div  ng-include="'/partials/integration/generaldescription.html'">
            </div>
        </div>
        <div ng-show="cur=='preauth'">
            <div  ng-include="'/partials/integration/preauth.html'">
            </div>
        </div>
        <div ng-show="cur=='health'">
           <div  ng-include="'/partials/integration/health.html'">
            </div>
        </div>
        <div ng-show="cur=='dashboard'">
            <div  ng-include="'/partials/merchant/dashboard.html'">
            </div>
        </div>
        <div ng-show="cur=='createtransaction'">
           <div ng-include="'/partials/merchant/createtransaction.html'">
            </div>
        </div>
        <!-- <div ng-show="cur=='transactionoperations'">
           <div ng-include="'/partials/merchant/transactionoperations.html'">
            </div>
        </div> -->
        <div ng-show="cur=='errortransaction'">
            <div  ng-include="'/partials/merchant/errortransaction.html'">
            </div>
        </div>
        <div ng-show="cur=='usermanagement'">
            <div  ng-include="'/partials/merchant/usermanagement.html'">
            </div>
        </div>
        <div ng-show="cur=='inviteuser'">
            <div  ng-include="'/partials/merchant/inviteuser.html'">
            </div>
        </div>
        <div ng-show="cur=='paymentmethods'">
           <div  ng-include="'/partials/merchant/paymentmethods.html'">
            </div>
        </div>
        <div ng-show="cur=='managebaskets'">
           <div  ng-include="'/partials/merchant/manage_baskets.html'">
            </div>
        </div>
        <div ng-show="cur=='paymentinstrument'">
           <div  ng-include="'/partials/merchant/paymentinstrument.html'">
            </div>
        </div>
        <div ng-show="cur=='createpaymentinstrument'">
            <div  ng-include="'/partials/merchant/createpaymentinstrument.html'">
            </div>
        </div>
        <div ng-show="cur=='customer'">
            <div  ng-include="'/partials/merchant/customer.html'">
            </div>
        </div>
        <div ng-show="cur=='createcustomer'">
            <div  ng-include="'/partials/merchant/manage_customers.html'">
            </div>
        </div>
        <div ng-show="cur=='myaccount'">
            <div  ng-include="'/partials/merchant/myaccount.html'">
            </div>
        </div>
        <div ng-show="cur=='currencies'">
            <div  ng-include="'/partials/merchant/currencies.html'">
            </div>
        </div>
        <div ng-show="cur=='settlement'">
            <div  ng-include="'/partials/merchant/settlement.html'">
            </div>
        </div>
        <div ng-show="cur=='managenotification'">
            <div  ng-include="'/partials/merchant/managenotification.html'">
            </div>
        </div>
        <div ng-show="cur=='risksetting'">
            <div  ng-include="'/partials/merchant/risksetting.html'">
            </div>
        </div>
        <div ng-show="cur=='manageblacklist'">
            <div  ng-include="'/partials/merchant/manageblacklist.html'">
            </div>
        </div>
        <div ng-show="cur=='manageriskcard'">
            <div  ng-include="'/partials/merchant/manageriskcard.html'">
            </div>
        </div>
        <div ng-show="cur=='rulecomparison'">
           <div  ng-include="'/partials/merchant/rulecomparison.html'">
            </div>
        </div>
        <div ng-show="cur=='rulevelocityrisk'">
            <div  ng-include="'/partials/merchant/rulevelocityrisk.html'">
            </div>
        </div>
        <div ng-show="cur=='gicc'">
            <div  ng-include="'/partials/merchant/gicc.html'">
            </div>
        </div>
        <div ng-show="cur=='errortransaction'">
            <div  ng-include="'/partials/merchant/errortransaction.html'">
            </div>
        </div>
    </div>
</div>
