<video autoplay height="360px" width="100%" poster="img/load.png">
    <source src="img/CC_Start.mp4" type="video/mp4" >
    Your browser does not support the video tag.
</video>
<div class="row">
	<div class="col-md-10">
		<h1>Easy code, easy pay<br></h1>
		<br>
		<h2>Our payment solution for your needs</h2>
		<p>Accept online payments effortlessly with the Concardis Payengine tailored for small, medium and large merchants. Our complete solution supports all common national and international payment methods and offers a wide range of additional services such as fraud prevention and one-click payments. Integrating the Concardis Payengine is fast, easy and hassle-free. With just a few clicks you can integrate all common payment options into your online shop. The Concardis Payengine supports almost all common platform systems, including Oxid, Shopware, Magento, WordPress E-Commerce and many, many more. In addition, you can design your own individual payment checkout form. Due to its responsive design the Concardis Payengine adapts to different screen sizes, so your customers can view it on their tablets, smartphones and desktop computers.</p>
		<br>
		<h3>Your benefits at a glance:</h3>
		<p>
		– Complete service package from a single source for all common national and international payment methods<br>
		– Modular setup for your individual solution<br>
		– Responsive, multi-platform design<br>
		– Fast and easy integration<br>
		– Convenient reporting functions<br>
		– Powerful safeguard mechanisms against fraud attempts<br>
		– Minimized del credere risk through risk prevention<br>
		– Compatible with latest security standards<br>
		– Best data protection and security through PCI-DSS certification<br>
		– Cost-free 24-hours support in German and English<br>
		</p>
	</div>
	<div class="col-md-2">
	</div>
</div>